@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    padding: 1rem;
    margin-top: .6rem;
}

fieldset {
    padding: 15px;
    display: flex;
    flex-flow: column;
}

legend {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.form-control {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.form-control label {
    font-family: inherit;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: .8rem;
    color: var(--clr-grey-1);
    margin-right: 10px;
}

input {
    padding: 0.5rem;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    border-color: var(--clr-primary-1);
    font-size: .85rem;
    flex: 1 0 auto;
    color: var(--clr-grey-5);
    margin-bottom: 1rem;
}

.gender-row {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.gender-row h3 {
    margin-right: .85rem;
    font-size: .8rem;
}

.gender-row label {
    margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 5px 3px 0px 3px;
}

.checkbox-container {
    margin: .48rem 0;
}

.btn {
    background-color: var(--clr-primary-5);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--dark-shadow);
    padding: .45rem;
    color: var(--clr-white);
    font-family: inherit;
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: .51rem;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 960px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "FirstName";
    }
    td:nth-of-type(2):before {
        content: "LastName";
    }
    td:nth-of-type(3):before {
        content: "Address";
    }
    td:nth-of-type(4):before {
        content: "Pincode";
    }
    td:nth-of-type(5):before {
        content: "Gender";
    }
    td:nth-of-type(6):before {
        content: "Food";
    }
    td:nth-of-type(7):before {
        content: "State";
    }
    td:nth-of-type(8):before {
        content: "Country";
    }
}


/* Media queries for bigger screen */

@media (min-width: 960px) {
    body {
        padding: 1rem;
    }
    .container {
        margin-top: .6rem;
    }
    .name-row,
    .place-row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    #pincode {
        width: 130px;
    }
    .name-row {
        width: 400px;
    }
    .place-row {
        width: 460px;
    }
    #state,
    #country {
        max-width: 150px;
    }
    #address {
        width: 500px;
    }
    .btn {
        width: 200px;
    }
    .form-control label {
        font-size: 1rem;
        font-weight: 800;
    }
    .food-row {
        margin-bottom: 1rem;
    }
    .gender-row h3,
    .food-row h3 {
        font-size: 1rem;
    }
    .gender-row label,
    .food-row label {
        font-weight: normal;
    }
}